@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  font-weight: 400;
  font-style: normal;
  background-color: #181818;
  color: azure;
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #cfd4d8;
  border-radius: 5px;
}
